.clickme{
	height: 300px;
	width : 300px;
	background-color: red;
	position:relative;
}
.tapme{
	
	background-color:cyan;
}
.stopper{
	background-color: red;
}
.preventer{
	background-color: yellow;
}
.preventer:hover{
	opacity: 0.75;
}
.tapme, .stopper, .preventer{
	position: absolute;
	position:absolute;
	top:50px;
	right:50px;
	bottom:50px;
	left:50px;
}
.tapme.active{
	background-color: #09E69B;
}
.tapme:hover{
	/*background-color: #FBFA35;*/
}
.clickme:hover{
	background-color: pink;
}
