.clickme{
	height: 200px;
	width : 200px;
	background-color: red;
	position:relative;
}
.tapme{
	position:absolute;
	top:50px;
	right:50px;
	bottom:50px;
	left:50px;
	background-color:cyan;
}
.tapme.active{
	background-color: #09E69B;
}
.tapme:hover{
	background-color: #FBFA35;
}
p{
	position:absolute;
	top:0;
	right:0;
}